html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.GoodList {
  padding: 12px 0;
  display: grid;
  gap: 8px;
}

.GoodCard {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #ddd;
}

.active {
  background-color: #aaa;
}
